<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>产品名：<span th:text="${product.productName}"></span></p>
<p>产品名：<span th:text="${product.productTitle}"></span></p>
<p>产品名：<span th:text="${product.productPrice}"></span></p>
<p>产品名：<span th:text="${product.productSalePrice}"></span></p>
<p>产品名：<span th:text="${product.productCreateDate}"></span></p>
<p>产品名：<span th:text="${product.productCategoryId}"></span></p>
<p>产品名：<span th:text="${product.productIsEnabled}"></span></p>
</body>
</html>